* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
header {
  background: black;
  display: flex;
  justify-content: center;
}
nav {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
nav a {
  font: 20px sans-serif;
  color: white;
  text-decoration: none;
}
.active {
  /* RRD добавляет сам*/
  color: red;
}
.customActive {
  /* прописали сами*/
  color: red;
}
main {
  width: 1034px;
  margin: auto;
  min-height: calc(100vh - 180px);
}
footer {
  background: dimgrey;
  height: 40px;
  font: 20px sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
}
